:root {
    --primary-color: #717171;
    --secondary-color: #231B1B;
    --primary-text: #464646;
    --secondary-text: #FF7200;
    --background-color: #FFFFFF;
    --primary-fontfamily: 'Verdana', sans-serif;
}
