<body>
    <div id="wrapper">
    <header class="header">
        <a class='btn' href="/">Frontend</a>
        <h1>Projekt skabelon</h1>
        <%- isLoggedIn ? "<a class='btn' href='/logout'>Log ud</a>" : "<a class='btn' href='/login'>Log ind</a>" %>
    </header>